.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.rightBig {
  display: flex;
  flex: 1;
}

.rightArrow {
  position: absolute;
  background-color: #227c9d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 135px;
  transition: 0.5s;
}
.rightArrow:hover {
  box-shadow: 2px 3px 12px #0e0e0eb5;
}
