* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}
.container {
  display: flex;
  margin: auto;
  max-width: 900px;
}
.leftside {
  flex: 1;
  margin-right: 40px;
}
.rigthside {
  flex: 1;
  margin-left: 40px;
  display: flex;
}

@media (max-width: 990px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rigthside {
    margin-left: 0;
    margin-top: 100px;
  }
  .leftside {
    margin-right: 0;
  }
}
